@import url("https://fonts.googleapis.com/css2?family=Dangrek&family=Press+Start+2P&family=Silkscreen&display=swap");

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

ul {
  list-style: none;
}

audio {
  display: none;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url(../images/background-sky.png);
  background-size: cover;
}

.game-pad {
  width: 1000px;
  height: 650px;
  background-color: #a5a4a4;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 50px;
  border: 10px solid #848282;
  box-shadow: 10px 10px 20px #000;
}

.game-options {
  padding: 20px 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.start-btn,
.character {
  display: block;
  width: 30%;
  padding: 5px;
  border-radius: 5px;
  border: 2px solid #444444;
  background-color: #848282;
  text-align: center;
  font-family: "Silkscreen", Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.game-screen {
  width: 80%;
  height: 450px;
  position: relative;
}
.game-screen > .screen-img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 30px;
  border: 5px solid #000;
}

.hero-text,
.villain-text {
  width: 300px;
  height: 50px;
  border-radius: 20px;
  font-family: "Silkscreen", Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-align: center;
  color: #73fa34;
  background-color: rgba(0, 0, 0, 0.8);
}
.villain-text {
  color: #e91f15;
}
.hero-text {
  display: block;
  position: absolute;
  top: 10px;
  left: 10px;
}

.villain-text {
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
}

.vs-logo {
  position: absolute;
  width: 10%;
  height: 50px;
  top: 10px;
  left: 45%;
}

.action-text {
  display: block;
  position: absolute;
  width: 90%;
  height: 50px;
  top: 85px;
  left: 5%;
  border-radius: 20px;
  font-family: "Silkscreen", Arial, Helvetica, sans-serif;
  font-size: 18px;
  text-align: center;
  color: #f5eb60;
  background-color: rgba(0, 0, 0, 0.8);
}

.heroPower {
  width: 250px;
  height: 20px;
  background: linear-gradient(45deg, #f62d2d, #f7b538);
  position: absolute;
  top: 61px;
  left: 10px;
  border-radius: 10px;
}

.villainPower {
  width: 250px;
  height: 20px;
  background: linear-gradient(45deg, #f7b538, #f62d2d);
  position: absolute;
  top: 61px;
  right: 10px;
  border-radius: 10px;
}

.players {
  position: absolute;
  top: 120px;
  width: 100%;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.players > img {
  width: 200px;
  height: auto;
}

.actions {
  width: 80%;
}

.actions > ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 90px;
}

.actions > ul > li {
  width: 200px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.actions > ul > li > button {
  display: block;
  width: 90%;
  height: 50%;
  border-radius: 30px;
  text-transform: uppercase;
  font-family: "Silkscreen", Arial, Helvetica, sans-serif;
  font-size: 15px;
  letter-spacing: -0.5px;
  box-shadow: 0 9px #999;
}

.actions > ul > li > button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.actions > ul > li:nth-child(1) > button {
  background-color: #a07cfb;
  border: 5px solid #6a51aa;
}
.actions > ul > li:nth-child(2) > button {
  background-color: #4ea3ef;
  border: 5px solid #3877ad;
}
.actions > ul > li:nth-child(3) > button {
  background-color: #91dc6f;
  border: 5px solid #65994d;
}
.actions > ul > li:nth-child(4) > button {
  background-color: #f5eb60;
  border: 5px solid #bdb549;
}
.actions > ul > li:nth-child(5) > button {
  background-color: #e34e45;
  border: 5px solid #a43832;
}
