html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

ul{
  list-style: none;
}

<<<<<<< HEAD
=======
.heroPower{
  width: 50px;
  height: 20px;
  background-color: green;
}

.villanPower{
  width: 50px;
  height: 20px;
  background-color: red;
}
>>>>>>> d774af7f262bcd112fe7fbbf54dc00d5d21461a3
